<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Artista</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form method="post">
    {% csrf_token %}
    <div class="jumbotron text-left">
        <label><h4> Cargar_Artista </h4></label><br>

        <div class="form-group">

            <label>Nombre:</label><br>
            <input type="text" name="nombre"><br>

            <label> Nombre_A: </label> <br>
            <input type="text"  name="nombre_A"><br>

            <label> Edad: </label> <br>
            <input type="number"  name="edad"><br>

            <label>Arte:</label><br>
            <select name="arte_id" >
            {% for item in lista_arte %}
            <option value="{{item.id}}" > {{item.nombre}} </option>
            {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary btn-xs">Aceptar</button><br>
        </div>

        {% if error %}
            <div class="alert alert-warning">
            <strong style="color:red;"> {{error}} No se puede duplicar Nombre y Nombre_A </strong>
        {% endif %}
            </div>

    </div>
</form>


<label>Listado:</label><br>

<table>

   <thead>

      <style>
        table, th, td
        {
          border: 3px solid black;
          border-collapse: collapse;
        }
    </style>

   <tr>
   <td>Nombre</td> <td> Nombre_A </td> <td> Edad </td>  <td> Arte </td> <td> Eliminar </td>
   </tr>
   </thead>

   <tbody>
            {% for item in lista_artista %}
        <tr>
           <td>
            {{ item.nombre }}
           </td>
           <td>
            {{ item.nombre_A }}
           </td>
            <td>
            {{ item.edad }}
           </td>

           <td>
            {{ item.arte.nombre }}
           </td>


           <td>
                <a href="cargar_artista/{{item.id}}"> Eliminar </a>
           </td>
        </tr>
            {% endfor %}
   </tbody>

</table>

</body>
</html>
