<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>ARTISA</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<form method="POST">
    {% csrf_token %}
    <div class="jumbotron text-left">
        <label><h4> Eliminar_Artista </h4></label><br>

        <div class="form-group">
            <label>Arte:</label><br>
            <select name="arte_id" >
               {% for item in lista_arte %}
               <option value="{{item.id}}" {% if item.id == artista.arte_id %} selected {% endif %}>
                   {{ item.nombre }}
               </option>
                    {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Nombre:</label><br>
            <input type="text" name="nombre" value="{{artista.nombre}}"><br>
        </div>

        <div class="form-group">
            <label>Nombre_A:</label> <br>
            <input type="text" name="nombre_A" value="{{artista.nombre_A}}"><br>
        </div>

        <div class="form-group">
            <label>Edad:</label> <br>
            <input type="number" name="edad" value="{{artista.edad}}"><br>
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-xs">Eliminar</button><br>
        </div>

        {% if error %}
        <h5 style="color:red;"> {{error}} No se puede duplicar Nombre y Nombre_A </h5>
        {% endif %}

    </div>

</form>
</body>
</html>
